<articel>
    <!-- section ตาราง -->
    <section>
        <div class="container">
            <div class="table-responsive ">
                <table class="table bg-white text-center table-bordered">
                    <tbody>
                        <tr>
                            <td colspan="7">
                                <span class="text-success" style="font-size: 30px;">- ไม่พบรายชื่อ -</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</articel>