<articel>
    <!-- section ตาราง -->
    <section>
        <div class="container">
            <div class="table-responsive ">
                <table class="table bg-white text-center table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">รหัสบัตรประชาชน</th>
                            <th scope="col">ชื่อ-นามสกุล</th>
                            <th scope="col">เลขบัญชี</th>
                            <th scope="col">ธนาคาร</th>
                            <th scope="col">เบอร์โทร</th>
                            <th scope="col">วันที่แจ้งล่าสุด</th>
                            <th scope="col">จำนวณที่โดนแจ้ง</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2819800011292</th>
                            <td>ธณัฐฐา เพชรลุ</td>
                            <td>9865366746</td>
                            <td>กรุงไทย</td>
                            <td>-</td>
                            <td>01/05/2018</td>
                            <td>8 ครั้ง</td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <span class="text-danger" style="font-size: 30px;">- พบรายชื่อคนโกง -</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- section รูปหลักฐาน -->
    <section>
        <div class="container text-center text-info bg-img p-3">
            <h4>ไฟล์หลักฐาน</h4>
            <img src="./image/โจร.jpg" alt="ไฟล์หลักฐานโดนโกง" class="w-50 mt-3">
        </div>

    </section>
</articel>