<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-5.0.9/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="./css/style.css">
   
</head>
<body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-color">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto p-3" id="myTab">
                        <li class="nav-item ">
                                <a class="nav-link " href="#!/" >หน้าแรก
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#!/report">แจ้งคนโกง</a>
                        </li>
                        <li class="nav-item-3">
                            <a class="nav-link" href="#!/help">โดนโกงทำอย่างไร?</a>
                        </li>
                        <li class="nav-item  ml-2">
                            <button class="btn btn-sm btn-outline-secondary" type="button">
                                <a class="nav-link" href="#!/donate">
                                    <i class="fas fa-donate"></i> บริจาคเพื่อเป็นกำลังใจ</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        
        <articel>
            <!-- section ตาราง -->
          <section>
          <div class="container">
            <div class="table-responsive ">
            <table class="table bg-white text-center table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">รหัสบัตรประชาชน</th>
                    <th scope="col">ชื่อ-นามสกุล</th>
                    <th scope="col">เลขบัญชี</th>
                    <th scope="col">ธนาคาร</th>
                    <th scope="col">เบอร์โทร</th>
                    <th scope="col">วันที่แจ้งล่าสุด</th>
                    <th scope="col">จำนวณที่โดนแจ้ง</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <th scope="row">2819800011292</th>
                    <td>ธณัฐฐา เพชรลุ</td>
                    <td>9865366746</td>
                    <td>กรุงไทย</td>
                    <td>-</td>
                    <td>01/05/2018</td>
                    <td>8 ครั้ง</td>
                  </tr>
                  <tr>
                      <td colspan="7"> <span class="text-danger" style="font-size: 30px;">- พบรายชื่อคนโกง -</span></td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>

        <!-- section รูปหลักฐาน -->
<section>
<div class="container text-center text-info bg-img p-3">
  <h4>ไฟล์หลักฐาน</h4>
  <img src="./image/โจร.jpg" alt="ไฟล์หลักฐานโดนโกง" class="w-50 mt-3">
</div>

</section>


        </articel>

    <!-- footer -->

    <footer class="text-center mt-5">

        <span>จัดทำเพื่อรวบรวมรายชื่อคนโกงทั่วประเทศไทย โดยทีมงาน</span>
        <a href="index.php" target="_blank">Minimal.com</a>
    </footer>

<script>

</script>

    <!-- import angularjs -->
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>

    <!-- jquery -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <!-- framwork -->
    <script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!-- import js -->
    <script src="./controller/app.js"></script>
    <script src="./controller/homeCtrl.js"></script>
    <script src="./controller/donateCtrl.js"></script>
    <script src="./controller/helpCtrl.js"></script>
    <script src="./controller/reportCtrl.js"></script>

</body>
</html>